:root{
  --contrast: #d3a860ff;
  --contrastII: #f4decbff;
  --background: #121214ff;
}
*{
  box-sizing: border-box;
  font-family: sans-serif;
  z-index: 0;
}

/*Generical*/
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline !important;
}
p{
  width: auto;
  
}
button{
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: var(--contrast);
  color: var(--background);
  border-radius: .5rem;
}
textarea{
  resize: none;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.divider{
  position: absolute;
  border: 1px solid var(--contrast);
  width: 50vw;
  z-index: 0;
  margin-top: 15px;
}
.absolute{
  position: absolute;
}
.text{
  margin: 3.5rem 1rem;
}
.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.right{
  right: 0;
}
.bold{
  font-weight: bold;
}
.block{
  display: block ;
}
.relative{
  position: relative;
}
.none{
  display: none;
}

.title{
  margin-top: 45px;
  text-decoration: none;
}

/*App*/
.app{
  position: relative;
  max-width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: var(--background);
  overflow-x: hidden;
  color: white;
}

/*Nav*/
  .navBar{
  border-bottom: 1px solid var(--contrast);
}
  .logo{
  width: 60px;
}
  .logoContainer{
  height: 60px;
  justify-content: space-around;
}
  .linkContainer{
  height: 70vh;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
}
  .socialMedia{
    width: 70vw;
    justify-content: space-around ;
  }

/*Menu*/
  .menuContainer{
  left: 0;
  height: 90vh;
  width: 100vw;
  background-color: var(--background);
  flex-direction: column;
  z-index: 1;
  transition: transform 1s;
}
  .btnMenu{
  width: 30px;
}
  .btnMenu::after, .btnMenu::before{
  position: absolute;
  background-color: var(--contrast);
  content: "";
  width: 30px;
  height: 10px;
  border-radius: .5rem;
}
  .btnMenu::after{
  margin-top: -16px;
}
  .btnMenu::before{
  margin-top: 6px;
}

/*Carrousel*/

  /*Slides*/
  .sliderContainer{
    position: relative;
    margin: auto;
    max-width: 100vw;
    overflow: hidden;
    max-height: 55vh;
  }
  .slide{
    position: relative;
    transition: transform 1s ease-in-out;
  }
  .prev{
    left: 0;
  }
  .next{
    right: 0;
  }
  .slide > img{
    position: relative;
    transform: translateY(-20%);
  }
  .nextAnim{
    animation: next .5s ease-in-out;
  }
  .prevAnim{
    animation: prev .5s ease-in-out;
  }

  /*Caption*/
  .index{
    position: absolute;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
  }
  .dotContainer{
    background-color: var(--contrast);
  }
  .dot{
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 8px 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .activeDot{
    border: 1px solid var(--background);
  }
  
/*Forms*/
.formContainer{
  justify-content: center;
}
form{
  width: 100%;
  padding: 8px ;
}
input{
  width: 100%;
  padding: 8px;
  color: black;
  border-radius: 8px;
  border: none;
  margin-bottom: 5px;
}
.field{
  width: 100%;
}
.field > label{
  display: block;
  text-align: left;
  margin-top: 10px;
}
.checkBox{
  width: 100px;
}
.checkBox>label{
  display: inline;
}
.checkBox>input{
  display: inline
}

/*About Area*/
  .gridContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    padding: 5px;
    background-color: var(--contrast);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .gridImage{
    overflow: hidden;
    border-radius: 10px;
  }
  .aboutContainer{
    border-radius: 10px;
    margin: 0px 5px;
    padding: 5px;
    justify-content: space-around;
    border: 1px solid var(--contrast);
  }
  .bikesContainer,.dishesContainer, .crewContainer{
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    background-color: var(--background);
    border-radius: 10px;
    margin: 5px 0;
    border: 1px solid var(--contrast);
  }
  .bikesImg, .crewImg{
    max-height: 400px;
    overflow: hidden;
  }
  .crewImg{
    align-self: flex-end;
  }
  .bikesImg > img{
    transform: translate(-1%, -25%);
  }
  .crewImg>img{
  transform: translateY(-25%);
 }
 

 /*Footer*/
 footer{
  background-color: var(--contrast);
  margin-top: 45px;
  align-self: flex-end;
 }

 /**/

/*Media Query - Desktop*/

@media (min-width:800px) and (orientation: landscape){
  /*Menu*/
  .btnMenu{
    display: none;
  }
  .menuContainer{
    height: 40px;
    z-index: 0 !important;
    justify-content: space-around;
    border-bottom: 1px solid var(--background);
  }
  .linkContainer{
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
  }
  .none{
    display: block;
  }

  /*Slider*/
  .sliderContainer{
    max-height: 500px;
  }

  /*About*/
  .aboutContainer{
    margin-top: 60px !important;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 1500px;
    margin: auto;
  }
  .bikesContainer, .crewContainer, .dishesContainer{
    max-width: 400px;
  }
  .bikesContainer{
    transform: translateY(-5%);
  }
  .crewContainer{
    transform: translateY(5%);
  }
  .text{
    height: 110px;
  }

  /*Formulario*/
  form{
    max-width: 600px;
  }
}

/* Animations */
@keyframes prev {
  
  from {
    transform: translateX(0);
    opacity: .6;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}
@keyframes next {
  
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: .6;
  }
}
