@import url("https://fonts.googleapis.com/css?family=Roboto");
:root{
  --contrast: #d3a860ff;
  --contrastII: #f4decbff;
  --background: #121214ff;
}
*{
  box-sizing: border-box;
  font-family: "Roboto";
  z-index: 0;
}

/*Generical*/
  footer{
  background-color: var(--contrast);
  margin-top: 45px;
  justify-content: space-around !important;
  width: 100%;
 }
  a{
  color: white;
  text-decoration: none;
}
  a:hover{
  text-decoration: underline !important;
}
  p{
  width: auto;
  
}
  button{
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: var(--contrast);
  color: var(--background);
  border-radius: .5rem;
}
  textarea{
  resize: none;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 10px;
}
  input{
  width: 100%;
  padding: 8px;
  color: black;
  border-radius: 8px;
  border: none;
  margin-bottom: 5px;
}
  img{
    min-height: 100%;
}

/*Directions*/
.right{
  right: 0;
}
.left{
  left: 0;
}
.bottom{
  bottom: 0;
}
.top{
  top: 0;
}

/*Display*/
  .flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
  .block{
  display: inline-flex !important;
}
  .grid{
  display: grid;
}
.none{
  display: none;
}

/*Position*/

.absolute{
position: absolute;
}
.relative{
  position: relative;
}

/*Elements*/
  .divider{
  border: 1px solid var(--contrast);
  width: 45vw;
  z-index: 0;
}
  .bold{
  font-weight: bold;
}
  .border{
    border: 1px solid var(--contrast);
}
  .radius{
    border-radius: 10px;
}
  .flex-align{
    justify-content: center;
    align-items: center;
}
  .hidden{
  overflow: hidden;
}

/*Container*/
  .app{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: var(--background);
    color: white;
    overflow-x: hidden;
}

/*Nav*/
  .navBar{
  border-bottom: 1px solid var(--contrast);
}
  .logoContainer{
  height: 60px;
  justify-content: space-around;
}
  .linkContainer{
  height: 100vh;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
}

/*Menu*/
  .mainContainer{
    max-width: 100%;
  }
  .menuContainer{
  background-color: var(--background);
  flex-direction: column;
  z-index: 1;
}
  .btnMenu{
  width: 30px;
}
  .btnMenu::after, .btnMenu::before{
  position: absolute;
  background-color: var(--contrast);
  content: "";
  width: 30px;
  height: 10px;
  border-radius: .5rem;
}
  .btnMenu::after{
  margin-top: -16px;
}
  .btnMenu::before{
  margin-top: 6px;
}

/*carousel*/
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.carousel-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  z-index: -1;
}

.carousel-button {
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--contrast);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.carousel-button:first-child {
  left: 10px;
}

.carousel-button:last-child {
  right: 10px;
}
/* Animations */
@keyframes prev {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes next {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/*About Area*/
  .side-image-grid{
    grid-template-columns: 2fr 1fr;
    background-color: var(--contrast);
    margin: 0px 15px;
  }
  .side-image-text{
    text-align: justify;
    padding: 10px;
  }
  .top-card-grid, .bottom-card-grid{
    margin: 15px;
    max-height: 90vh;
  }
  .top-card-grid{
    grid-template-rows: 1fr 1fr;
  }
  .bottom-card-grid{
    grid-template-rows: 1fr 3fr;
  }
  .big-button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 0;
  }
  
/*Forms*/
.formContainer{
  justify-content: center;
}
form{
  width: 100%;
  padding: 8px ;
}
.field{
  width: 100%;
}
.field > label{
  display: block;
  text-align: left;
  margin-top: 10px;
}
.checkBox{
  width: 100px;
}
.checkBox>label{
  display: inline;
}
.checkBox>input{
  display: inline
}
.error::before{
  content: "*";
}
.error{
  width: 100%;
  color: rgb(255, 92, 92);
  text-align: center;
  margin: 5px;
}

/*Footer*/


/*Media Query - Desktop*/

@media (min-width:800px) and (orientation: landscape){
  /*Menu*/
  header{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav{
    max-height: 60px;
  }
  header > .none{
    display: block;
  }
  .topics > .none{
    display: flex;
  }
  .btnMenu{
    display: none;
  }
  .linkContainer{
    height: 60px;
    width: 400px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .mainContent{
    position: relative;
    grid-template-rows: 5fr 1fr;
    max-width: 1200px
  }
  /*Slider*/
  
 
  /*About*/
  .topics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .side-image-grid{
    grid-template-columns: 5fr 1fr;
    background-color: var(--contrast);
    margin-bottom: 50px;
  }
  .top-card-grid {
    display: grid!important;
    position: relative;
    top: -50px;
  }
  .bottom-card-grid {
    display: grid !important;
    position: relative;
    top: 50px;
  }
  .carousel-container, .carousel-image{
    max-height: 720px;
  }
  .carousel-about-img > .carousel-container > .carousel-image{
    max-width: unset !important;
    min-height: 100% -50%!important;
  }
  .carousel-about-img{
    background-color: var(--contrast);
  }
  
  /*Form*/
  form{
    max-width: 600px;
  }
}